<h3 class = "text-center">アカウント編集ページ</h3>
<div class = "row">
  <div class = "offset-sm-2 col-sm-8">
    <%= form_with(model: @user, local: true ) do |f| %>
    
      <% if @user.errors.any? %>
        <div id = "error-expranation" class = "alert alert-warning">
          <ul class = "mb-0">
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= render("form_user", user: @user,f: f)%>

      <%= f.submit "編集", class: "btn btn-block btn-primary"%>
    <% end %>
  </div>
</div>