<div class = "d-flex flex-row justify-content-around mb-3">
  <div class = "card col-sm-3">
    <image class = "card-image-top" src = "/toppage/top.2.resize.png">
    <div class = "card-body">
      <p class = "text-center">今日のトレーニングの成果をシェアしよう！</p>
    </div>
  </div>
  <div class = "card col-sm-3">
    <image class = "card-image-top" src = "/toppage/top.3.resize.png">
    <div class = "card-body">
      <p class = "text-center">フォロー機能でトレーニング仲間とつながろう！</p>
    </div>
    
  </div>
  <div class = "card col-sm-3">
    <image class = "card-image-top" src = "/toppage/top.1.resize.png">
    <div class = "card-body">
      <p class = "text-center">いいねとコメントでトレーニング仲間と励ましあえる！</p>
    </div>
  </div>
</div>


<div class = "center jumbotron">
  <div class = "text-center">
    <h1 class = "mb-4">share-training</h1>
    <%= link_to("新規登録", signup_path, class: "btn btn-primary mr-2") %>
    or
    <%= link_to("ログイン", login_path, class: "btn btn-primary ml-2")%>
  </div>
</div>